@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    @apply font-poppins;
}

input:focus {
    @apply outline-none
}

.form-control input, .form-control select {
    @apply w-full;
}

.form-control select {
    background-color: transparent;
}

.add .form-control {
    @apply border-gray-900/10 border-[1px]
}

.add .form-control:first-of-type {
    @apply rounded-t-md
}

.button {
    @apply rounded-md;
}

.button-primary {
    @apply bg-purple-700
}

.button-full {
    @apply w-full
}

.button-xl {
    @apply p-2
}

.add .form-control:last-of-type {
    @apply rounded-b-md
}

.add .form-control:not(:last-child) {
    @apply border-b-[0]
}

.form-control i {
    @apply text-lg text-gray-400 pl-2;
}

.c-btn {
    @apply text-sm p-[1px] px-4 text-gray-400 rounded-2xl;
}

.c-btn[aria-active="true"] {
    @apply bg-purple-400 text-black
}

button i {
    @apply pointer-events-none
}

.cn {
    transform: rotate(45deg);
}

.phone {
    width: 100%;
    position: relative;

}

.phone .iti__country-container {
    width: 100%;
}

.phone .iti__selected-country {
    position: absolute;
    right: 0;
}

.form-control input[type="tel"] {
    padding-left: 6px !important;
}

span[aria-friend] {
    @apply bg-yellow-300 rounded-md
}

span[aria-teammate] {
    @apply bg-green-300 rounded-md
}

span[aria-family] {
    @apply bg-purple-300 rounded-md
}